body{
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    line-height: 1.5;
}

@font-face{
    font-family: 'hellovalentina';
    src: url('fonts/hellovalentina.ttf');
}

#baniere{
    width: 400px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #404352;
}

h1{
    font-family: 'hellovalentina';
    font-size: 50px;
    align-items: center;
    color:white;
    padding-top: 60%;
}
#logos ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logos li{
    padding-bottom: 10%;
    list-style-type: none;
}

main{
    display: flex;
    flex-direction: column;
}

#waze{
    height: 35%;
    display: flex;
    justify-content: space-between;
    border-style: none;
    background-color: #879ea6;
    padding-left: 15px;
    padding-right: 0px;
}

#vinted{
    height: 36%;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    border-style: none ;
    background-color: #f8bd49;
}

#whatsapp{
    height: 32%;
    display: flex;
    justify-content: space-between;
    border-style: none;
    background-color: #879ea6;
    padding-left: 15px;
    
}

.presentation a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
   
}
.presentation p:hover{
    opacity:0.5;
}
 h2:hover{
    transform: scale(1.3);
    transition: 40ms;
}

h2 {   
    color: tomato;
    font-family: hellovalentina;
    font-size: 50px;
    padding-left: 15px;
    margin-bottom: 0%;
}

p, ul{
    
    padding-right: 15px;
    font-size: 18px;
    color:#282828;
    font-style: italic;
}    