body{
    height: 100%;
    margin: 3%;
    font-family: 'maison neue', 'helvetica neue', 'arial', 'sans serif';
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
}

@font-face{
    font-family: 'reseaux.ttf';
    src: url('fonts/reseaux.ttf');
}

#entete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none;
    margin: 30px;
   color:#999999;
   font-size: 16px;
}

#menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    border-style: none;
    background-color:#F3F3EE; 
    height: 70px;
}
#menu li{
    padding: 20px;
    list-style-type: none;
    color: black;
}

#menu a{
    text-decoration: none;
}

#menu a:hover{
    text-decoration: underline;
}

#titre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    margin: 40px;
}

#presentation{
    display: flex;
    justify-content:space-around ;
    align-items: center;
   
    background-color: #09B1BA;
}

#slogans p{   
    width:30%;
    height: 350px;
}

#description{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    
    box-sizing: border-box;
    background-color: #ebedee;
    color: #09B1BA;
    
    margin-left: %;
}

#description p{
    padding: 5%;
}

#contenair{
    display:flex;
    justify-content: space-around;
   
    margin-left:8%;
  
    padding:20px;
}

#telechargement{
    border-style:none;
    width:50%;
   
    padding-top:5%;
    padding-left: 5%;
 
    color: #999999;
}

.logo{
    font-family: 'reseaux.ttf';
    font-size: 200px;
    text-decoration: none;
}

aside{
    border-style: none;
    background-color: #09B1BA;
    padding: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: none;
    background-color: #F3F3EE;
    padding: 20px;
}